In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
file_path = '../data/raw/bank_loan_data.xlsx'
df = pd.read_excel(file_path)
df.head()

,ID,Age,Gender,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Home Ownership,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,M,1,49.0,91107,4,1.6,1,0,Home Owner,0,1,0,0.0,0
1,2,45,M,19,34.0,90089,3,1.5,1,0,Rent,0,1,0,0.0,0
2,3,39,M,15,11.0,94720,1,1.0,1,0,Rent,0,0,0,0.0,0
3,4,35,M,9,100.0,94112,1,2.7,2,0,Rent,0,0,0,0.0,0
4,5,35,M,8,45.0,91330,4,1.0,2,0,Rent,0,0,0,0.0,1

In [3]:
df['Home Ownership'].unique()

array(['Home Owner', 'Rent', 'Home Mortage', nan], dtype=object)

In [4]:
df = df.dropna(subset=['Home Ownership'])

In [5]:
df['Home Ownership'].unique()

array(['Home Owner', 'Rent', 'Home Mortage'], dtype=object)

In [6]:
df['Gender'].unique()

array(['M', 'F', 'O', nan, '#', '-'], dtype=object)

In [7]:
values_to_remove = ['O', '#', '-']

# Remove rows where 'Gender' is in values_to_remove
df = df[~df['Gender'].isin(values_to_remove)]
df = df.dropna(subset=['Gender'])

In [8]:
df['Gender'].unique()

array(['M', 'F'], dtype=object)

In [9]:
#Chekc null value in dataset
df.isnull().sum()

ID                     0
Age                    0
Gender                 0
Experience             0
Income                60
ZIP Code               0
Family                 0
CCAvg                  0
Education              0
Mortgage               0
Home Ownership         0
Personal Loan          0
Securities Account     0
CD Account             0
Online                40
CreditCard             0
dtype: int64

In [10]:
# Encode categorical variables
label_encoder = LabelEncoder()
df['Gender'] = label_encoder.fit_transform(df['Gender'])
df['Home Ownership'] = label_encoder.fit_transform(df['Home Ownership'])

In [11]:
# Drop ID and ZIP Code column as it is not useful for prediction
df.drop(columns=['ID', 'ZIP Code'], inplace=True)

In [12]:
# Print the unique values of `Personal Loan`, `Gender`, `Home Ownership` and `Online`
print(f"Unique values of Personal Loan: {df['Personal Loan'].unique()}")
print(f"Unique values of Gender: {df['Gender'].unique()}")
print(f"Unique values of Home Ownership: {df['Home Ownership'].unique()}")
print(f"Unique values of Online: {df['Online'].unique()}")

# Print the number of missing values in each column
print(f"\nNumber of missing values in each column: \n{df.isnull().sum().to_markdown(numalign='left', stralign='left')}")

Unique values of Personal Loan: [0 1 ' ']
Unique values of Gender: [1 0]
Unique values of Home Ownership: [1 2 0]
Unique values of Online: [ 0.  1. nan]

Number of missing values in each column:
|                    | 0   |
|:-------------------|:----|
| Age                | 0   |
| Gender             | 0   |
| Experience         | 0   |
| Income             | 60  |
| Family             | 0   |
| CCAvg              | 0   |
| Education          | 0   |
| Mortgage           | 0   |
| Home Ownership     | 0   |
| Personal Loan      | 0   |
| Securities Account | 0   |
| CD Account         | 0   |
| Online             | 40  |
| CreditCard         | 0   |

In [13]:
# Remove the ' ' from dataset
df = df[df['Personal Loan'].isin([0, 1])]
# Remove the NaN from Income and Online dataset
df = df.dropna(subset=['Income', 'Online'])

In [14]:
print(f"\nNumber of missing values in each column: \n{df.isnull().sum().to_markdown(numalign='left', stralign='left')}")

Number of missing values in each column:
|                    | 0   |
|:-------------------|:----|
| Age                | 0   |
| Gender             | 0   |
| Experience         | 0   |
| Income             | 0   |
| Family             | 0   |
| CCAvg              | 0   |
| Education          | 0   |
| Mortgage           | 0   |
| Home Ownership     | 0   |
| Personal Loan      | 0   |
| Securities Account | 0   |
| CD Account         | 0   |
| Online             | 0   |
| CreditCard         | 0   |

In [15]:
# Print the number of rows and columns in the final dataframe
print(f"Number of rows: {df.shape[0]}, Number of columns: {df.shape[1]}")

Number of rows: 3029, Number of columns: 14

In [16]:
# Path to save
file_path = '../data/processed/final_bank_loan_data.csv'

In [17]:
# Save the DataFrame to a CSV file
df.to_csv(file_path, index=False)

In [18]:
df.head()

,Age,Gender,Experience,Income,Family,CCAvg,Education,Mortgage,Home Ownership,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,1,49.0,4,1.6,1,0,1,0,1,0,0.0,0
1,45,1,19,34.0,3,1.5,1,0,2,0,1,0,0.0,0
2,39,1,15,11.0,1,1.0,1,0,2,0,0,0,0.0,0
3,35,1,9,100.0,1,2.7,2,0,2,0,0,0,0.0,0
4,35,1,8,45.0,4,1.0,2,0,2,0,0,0,0.0,1